NEXT_PUBLIC_SITE_URL=https://rafaelvieira.adv.br

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
MAIL_FROM="Rafael Vieira <contato@rafaelvieira.adv.br>"
MAIL_TO=contato@rafaelvieira.adv.br
